body {
    background: rgba(19, 33, 57, 0.854);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* ---------- All-Pass Filter Page ---------- */

.all_pass_wrapper {
    /* position: absolute; */
    /* visibility: hidden; */
    /* z-index: 2; */
    /* transition: 0.3s ease; */

    background-color: rgb(238, 238, 238);
    width: 1500px;
    height: 95vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* ---------- Upper Half ---------- */

/* Page Close Button */
.close_div_btn {
    position: absolute;
    left: 1470px;
    top: 35px;
}

.all_pass_wrapper span {
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.all_pass_wrapper span:hover {
    color: rgb(202, 7, 7);
}

/* Catalogue */
.catalogue {
    /* background-color: rgb(47, 47, 47); */
    width: 1420px;
    height: 30vh;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 45px;
}


@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");



body {
    padding: 0;
    margin: 0;
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -265px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper .swiper-slide {
    position: relative;
    width: 300px;
    height: 30vh;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: grayscale(80%);
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
    border-radius: 15px;
    background: linear-gradient(to right, #fffcfc, #bbb7bb);
    overflow: hidden;
}

.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper .swiper-slide .info {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 15px;
    box-shadow: inset 0 -120px 120px -120px rgb(20, 0, 136), inset 0 -120px 120px -120px black;
}

.swiper .swiper-slide .info h4 {
    margin: 0;
    padding-bottom: 10px;
}

.swiper .swiper-slide-active {
    filter: none;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #c31432 !important;
}

.swiper .swiper-pagination-bullet {
    background-color: grey;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    top: 50%;
    width: 40px;
    height: 40px;
    background: white;
    border: 3px solid #240b36;
    border-radius: 50%;
    color: #c31432;
    font-weight: 700;
    outline: 0;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: -265px;

}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    font-size: 18px;
}

.swiper .swiper-button-prev:after {
    position: relative;
    left: -1px;
}

.swiper .swiper-button-next:after {
    position: relative;
    left: 1px;
}

.swiper .swiper-button-prev,
.swiper .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper .swiper-button-next,
.swiper .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}




/* ---------- Bottom Half ---------- */

.all_pass_response {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 58vh;
    width: 1465px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.all_pass_cumulative {
    background-color: rgb(47, 47, 47);
    width: 600px;
    height: 58vh;
    border-radius: 10px;
}

.original_response {
    background-color: rgb(47, 47, 47);
    width: 600px;
    height: 58vh;
    border-radius: 10px;
}

.filters_history {
    background-color: rgb(47, 47, 47);
    width: 300px;
    height: 58vh;
    border-radius: 10px;
}