body {
    background: linear-gradient(90deg, rgba(24, 41, 50, 1) 0%, rgba(18, 82, 119, 1) 48%, rgba(24, 41, 50, 1) 100%);

    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* @import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap"); */

/*//////// First Column /////////*/
/* Import Export Buttons */

.filter_im_ex{
    transform: translateY(60px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#import_filter_btn{
    width: 0;
}
#import_filter_label{
    width: 8rem;
    font-size: 17px;
    height: 3rem;
    padding: 14px 40px;
}

.ex_imp_btn {
    background-color: rgb(33, 34, 37);
    width: 8rem;
    height: 3rem;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
}

.ex_imp_btn:hover {
    box-shadow: 0 0 10px rgb(68, 59, 59);
}

.ex_imp_btn:active {
    scale: 0.95;
}

/* Z-Plane Canvas */
.z-plane {
    background-color: rgb(238, 238, 238);
    min-width: 410px;
    height: 95vh;
    border-radius: 15px;
}

#canvas {
    transform: translateY(100px);
    margin-left: 25px;
    background: white;
    border-radius: 10px;
}


/* Zeros and poles buttons */
.graph_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
}

.input_container {
    position: relative;
    height: 3rem;
    width: 6rem;
    margin: 0.5rem;
}

.input_container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input_container .radio_tile {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 2px solid rgb(33, 34, 37);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.input_container .radio_tile span {
    color: rgb(33, 34, 37);
    font-size: 1.5rem;
    margin-top: 3px;
}

.input_container .radio_tile label {
    color: rgb(33, 34, 37);
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-top: 1px;
}

input:checked+.radio_tile {
    background-color: rgb(33, 34, 37);
    box-shadow: 0 0 8px rgb(33, 34, 37);
}

input:hover+.radio_tile {
    box-shadow: 0 0 8px rgb(33, 34, 37);
}

input:checked+.radio_tile label,
input:checked+.radio_tile span {
    color: white;
}

.clear {
    margin-left: 10px;
}

.clear button {
    background-color: rgb(202, 7, 7);
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
}

.clear_btn:hover {
    box-shadow: 0 0 8px rgb(229, 9, 9)
}

.clear_btn:active {
    scale: 0.94;
}

/*//////// ----------- /////////*/






/*//////// Second Column /////////*/

.response {
    background-color: rgb(238, 238, 238);
    width: 600px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.plot_container {
    background-color: white;
    transform: translateY(-42px);
    width: 550px;
    height: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.response_plot {
    background-color: white;
    width: 550px;
    height: 260px;
}

.allpass_btn {
    position: absolute;
    top: 620px;
    left: 675px;
    background-color: rgb(33, 34, 37);
    width: 10rem;
    height: 3rem;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
}

.allpass_btn:hover {
    box-shadow: 0 0 12px rgb(33, 34, 37);
}

.allpass_btn:active {
    scale: 0.9;
}

/* //////// Third Column ///////// */
.signal {
    background-color: rgb(238, 238, 238);
    min-width: 460px;
    height: 95vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.signal_btn_container {
    transform: translateY(20px);
    display: flex;
    align-items: center;
    gap: 20px;
}

.signal_btn {
    background-color: rgb(33, 34, 37);
    width: 8rem;
    height: 3rem;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
}

.signal_btn:hover {
    box-shadow: 0 0 10px rgb(68, 59, 59);
}

.signal_btn:active {
    scale: 0.95;
}

#import_signal_btn {
    width: 0px;
}

#import_signal_label {
    padding: 15px;
}

/* Generation Pad */
#pad {
    transform: translateY(40px);
    background: rgb(33, 34, 37);
    cursor: crosshair;
    border-radius: 10px;
}

/* Graphs */
.signal_container {
    background-color: white;
    transform: translateY(60px);
    width: 400px;
    height: 170px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.signal_plot {
    background-color: white;
    width: 400px;
    height: 170px;
}


/*//////// Custom Context Menu /////////*/
.wrapper {
    position: absolute;
    visibility: hidden;
    width: 115px;
    height: 90px;
    background-color: rgba(33, 33, 33, 0.95);
    border-radius: 10px;
    box-shadow: 0 12 35px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.wrapper .menu {
    padding: 0px 5px;
    transform: translateY(-7px);
}

.content .item {
    color: white;
    list-style: none;
    font-size: 22px;
    height: 35px;
    display: flex;
    padding: 0 5px 0 10px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    cursor: pointer;
}

.content .item span {
    font-size: 14px;
}

.content .item p {
    font-size: 12px;
    margin-left: 6px;
}

.content .item:hover {
    background-color: rgba(0, 0, 0, 0.95);
}

/*//////// ----------- /////////*/
/* All Pass Filter Page */
.all_pass_wrapper {
    position: absolute;
    transition: 0.4s ease;
    scale: 0;

    background-color: rgb(238, 238, 238);
    width: 1500px;
    height: 95vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* ---------- Upper Half ---------- */

/* Page Close Button */
.close_div_btn {
    position: absolute;
    left: 1450px;
    top: 20px;

    /* left: 1470px;
    top: 35px; */
}

.close_div_btn:active {
    scale: 0.8;
}

.all_pass_wrapper span {
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.all_pass_wrapper span:hover {
    color: rgb(202, 7, 7);
}


/* catalogue */

.catalogue {
    background-color: rgb(47, 47, 47);
    width: 1380px;
    height: 25vh;
    border-radius: 10px 10px 0px 0px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -265px;
}

.name span{
    font-size: 18px;
}

.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 55px;
    cursor: pointer;
}

.swiper .swiper-slide {
    position: relative;
    width: 285px;
    height: 28vh;
    filter: grayscale(90%);
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
    border-radius: 15px;
    background: linear-gradient(to right, #fffcfc, #bbb7bb);
    overflow: hidden;
}

.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper .swiper-slide .info {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 15px;
    font-size: 20px;
    height: 177px;
    box-shadow: inset 0 -120px 120px -120px rgb(20, 0, 136), inset 0 -120px 120px -120px black;
}

.swiper .swiper-slide .info h4 {
    margin: 0;
    padding-bottom: 10px;
}

.swiper .swiper-slide-active {
    filter: none;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #c31432 !important;
}

.swiper .swiper-pagination-bullet {
    background-color: grey;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    top: 53%;
    width: 25px;
    height: 25px;
    background: white;
    border: 3px solid #240b36;
    border-radius: 50%;
    color: #c31432;
    font-weight: 700;
    outline: 0;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: -265px;

}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    font-size: 18px;
}

.swiper .swiper-button-prev:after {
    position: relative;
    left: -1px;
}

.swiper .swiper-button-next:after {
    position: relative;
    left: 1px;
}

.swiper .swiper-button-prev,
.swiper .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper .swiper-button-next,
.swiper .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

/* ---------- Bottom Half ---------- */

.all_pass_response {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 58vh;
    width: 1465px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* First Column */
.all_pass_cumulative {
    background-color: rgb(47, 47, 47);
    width: 600px;
    height: 58vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input Header and button */
.all_pass_cumulative h3 {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    /* font-size: 30px; */
}

.input_a_value {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.a_input {
    width: 60px;
    height: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.a_input:focus {
    border: 3px solid rgb(202, 7, 7);
    height: 6px;
    width: 56px;
    border-radius: 5px;
}

.add_filter_btn {
    background-color: rgb(202, 7, 7);
    width: 5rem;
    height: 31px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
}

.add_filter_btn:hover {
    box-shadow: 0 0 8px rgb(229, 9, 9)
}

.add_filter_btn:active {
    scale: 0.9;
}

.plot2_container {
    background-color: white;
    width: 500px;
    height: 255px;
    padding: 10px;
    border-radius: 10px;
}

.cumulative_apf_graph {
    background-color: white;
    width: 500px;
    height: 255px;
}


/* Second Column */
.original_response {
    background-color: rgb(47, 47, 47);
    width: 600px;
    height: 58vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header and Button */

.original_response h3 {
    color: white;
    margin-top: 27px;
    margin-bottom: 15px;
}

.apply_filter_btn {
    background-color: rgb(202, 7, 7);
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: ease 0.3s;
    margin-bottom: 20px;
    font-weight: 600;
}

.apply_filter_btn:hover {
    box-shadow: 0 0 8px rgb(229, 9, 9)
}

.apply_filter_btn:active {
    scale: 0.92;
}


/* Third Column */
.filters_history {
    background-color: rgb(47, 47, 47);
    width: 300px;
    height: 58vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters_history h3 {
    color: white;
    margin-bottom: 10px;
}

.added_content {
    width: 93%;
    height: 357px;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
    overflow-y: scroll;
}

.added_content::-webkit-scrollbar {
    width: 0px;
}

.filter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 0px 4px 15px 0px black;
    height: 45px;
    margin-bottom: 5px;
    cursor: default;
}

.filter p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}

.filter span {
    position: absolute;
    font-size: 28px;
    right: 20px;
}

.filter span:active {
    scale: 0.9;
}