<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS and Fonts -->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    
    <script src="../static/js/d3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Digital Filter Desginer</title>
</head>


<body>
    <!--  Custom Context Menu -->
    <div class="wrapper">
        <div class="content">

            <ul class="menu">
                <li class="item" id="delete">
                    <span class="material-symbols-outlined">delete</span>
                    <p>Delete</p>
                </li>

                <li class="item" id="close">
                    <span class="material-symbols-outlined">cancel</span>
                    <p>Close</p>
                </li>
            </ul>
            
        </div>
    </div>

<!-- First Column -->
    <div class="z-plane">

        <div class="filter_im_ex">
            <!-- Import Filter -->
            <form id="upload-filter" method="post" enctype="multipart/form-data">
                <label for="import_filter_btn" class="ex_imp_btn" id="import_filter_label" >Import</label>
                <input  id="import_filter_btn" type="file" name="file" hidden />
                <a><i  class="fa" id="import"></i></a>

            </form>
            <a id="downloadAnchorElem" style="display:none"></a>

            <button class="ex_imp_btn" id="export_btn" >Export</button>
        </div>
        
        <div class="graph">
            <canvas id="canvas" class="canvas"></canvas>
        </div>


        <div class="graph_buttons">

            <div class="input_container">
                <input type="radio" name="filter_btn" id="zero" value="zero" checked>
                <div class="radio_tile">
                    <span class="material-symbols-outlined">exposure_zero</span>
                    <label for="zero">Zero</label>
                </div>
            </div>

            <div class="input_container">
                <input type="radio" name="filter_btn" id="pole" value="pole">
                <div class="radio_tile">
                    <span class="material-symbols-outlined">close</span>
                    <label for="pole">Pole</label>
                </div>
            </div>

            <div class="clear">
                <button class="clear_btn" id="clear_btn">Clear All</button>
            </div>
        </div>

    </div>

<!-- Second Column -->
    <div class="response">        
        <div class="plot_container">
            <div id="magnitude_response" class="response_plot"></div>
        </div>

        <div class="plot_container">
            <div id="phase_response" class="response_plot"></div>
        </div>

        <div class="allpass">
            <button class="allpass_btn" id="allpass_btn" >All-Pass Filters</button>
        </div>
    </div>

<!-- Third Column -->
    <div class="signal">

        <div class="signal_btn_container">
            <button class="signal_btn" id="generate_btn">Generate Signal</button>
            <!-- Upload Button -->
            <form id="upload-csv" method="post" enctype="multipart/form-data">
                <label for="import_signal_btn" class="signal_btn" id="import_signal_label">Upload Signal</label>
                <input  id="import_signal_btn" type="file" name="file" />
            </form>
        </div>

        <div class="generation_pad">
            <canvas id="pad" class="pad"></canvas>
        </div>

        <div class="signal_container">
            <div id="input_signal" class="signal_plot"></div>
        </div>

        <div class="signal_container">
            <div id="output_signal" class="signal_plot"></div>
        </div>

    </div>


    <!-- All Pass Filter Page -->
    <div class="all_pass_wrapper" id="all_pass_wrapper">
        <!-- Close Div Button -->
        <span class="material-symbols-outlined close_div_btn" id="all_pass_close">cancel</span>
        <!-- Catalogue Slider -->
        <div class="catalogue">
            <div class="container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-active">
                            <img src="../static/images/(a = 0.1).png" alt="">
                            <div class="info">
                                <h4 class="name">
                                    a = <span class="real">0.1</span><span class="img"></span>
                                </h4>
        
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active">
                            <img src="../static/images/(a = 0.5).png" alt="">
                            <div class="info">
                                <h4 class="name">
                                    a = <span class="real">0.5</span><span class="img"></span>
                                </h4>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active">
                            <img src="../static/images/(a = -0.5).png" alt="">
                            <div class="info">
                                <h4 class="name">
                                    a = <span class="real">-0.5</span><span class="img"></span>
                                </h4>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active">
                            <img src="../static/images/(a = 0.9).png" alt="">
                            <div class="info">
                                <h4 class="name">
                                    a = <span class="real">0.9</span><span class="img"></span>
                                </h4>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active">
                            <img src="../static/images/(a = -0.9).png" alt="">
                            <div class="info">
                                <h4 class="name">
                                    a = <span class="real">-0.9</span><span class="img"></span>
                                </h4>
        
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active">
                            <img src="../static/images/(a = 1+1j).png" alt="">
                            <div class="info">
                                <h4 class="name">
                                    a = <span class="real">1</span><span>+</span><span class="img">1</span><span>j</span>
                                </h4>
        
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
        
                    <!-- If we need navigation buttons -->
        
                </div>
            </div>
        
        </div>
        <!-- All-Pass Response -->
        <div class="all_pass_response">

            <div class="all_pass_cumulative">
                <h3>Put the a value</h3>
                <div class="input_a_value">
                    <input type="number" name="" id="a_real" class="a_input" placeholder="Real">
                    <input type="number" name="" id="a_img" class="a_input" placeholder="Img">

                    <button class="add_filter_btn" id="add_filter_btn">Add Filter</button>
                </div>
                <div class="plot2_container">
                    <div id="cumulative_apf_graph" class="cumulative_apf_graph"></div>
                </div>
            </div>

            <div class="original_response">
                <h3>Final Phase Gain</h3>
                <button class="apply_filter_btn" id="apply_filter_btn">Apply Filter</button>
                <div class="plot2_container">
                    <div id="current_apf_graph" class="current_apf_graph"></div>
                </div>
            </div>

            <div class="filters_history">
                <h3>Added Filters</h3>
                <div class="added_content" id="added_content">

                </div>
            </div>

        </div>
    </div>


    <script src="../static/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>